body {
  font-family: Helvetica, Arial, Verdana, sans-serif;
}

.vh-50 {
  height: 50vh;
}

a {
  color: black;
}

a:hover {
  color: rgb(60, 60, 60);
}

pre,
.pre {
  overflow-x: auto;
  overflow-y: hidden;
  overflow: scroll;
}

pre code {
  display: block;
  padding: 1.5em 1.5em;
  white-space: pre;
  font-size: 0.875rem;
  line-height: 2;
}

pre {
  background-color: #222;
  color: #ddd;
  white-space: pre;

  hyphens: none;
  position: relative;
}

#masthead {
  font-family: Helvetica, Arial, Verdana, sans-serif;
  margin: 0 auto;
  border: 0;
  padding: 0;
  /* background: linear-gradient(to bottom, rgba(0, 110, 141), rgb(129, 213, 236)); */
}

.navbar {
  padding: 0;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5 {
  color: #0c8dc7;
}

/* .nav-link {
  color: #0c8dc7;
  text-align: center;
} */

.nav-link:hover,
.navbar-nav .nav-link.show,
.nav-link:focus {
  color: #011e41;
}

/* .nav-link:focus {
  color: white;
} */

.lang-active {
  text-decoration: underline;
}
