{{ define "main" }}

<div class="container my-5">
  <div class="row">{{.Content}}</div>

  <div class="row">
    {{ range .Pages }}
    <div class="col-md-4 mb-4">
      <div class="card">
        {{ with .Params.featuredImage }}
        <img src="{{ . | relURL }}" class="card-img-top" alt="{{ $.Title }}" />
        {{ end }}
        <div class="card-body">
          <h5 class="card-title">
            <a href="{{ .Permalink }}">{{ .Title }}</a>
          </h5>
          <p class="card-text">{{ .Summary }}</p>
        </div>
        <div class="card-footer text-muted">
          Published on {{ .Date.Format "January 2, 2006" }}
        </div>
      </div>
    </div>
    {{ end }}
  </div>
</div>

{{ end }}
