{{ define "main" }}

<div class="container my-5">
  {{ $lang := .Lang }}
  <div class="row">
    <div class="col-md-8">
      <h2 class="mb-3">
        {{ if eq $lang "en" }} Head {{ else }} Vodja {{ end }}
      </h2>
      <div class="row">
        {{ range .Site.Data.members.head_members }}
        <div class="col-md-10 mb-4">
          <div class="card h-100 d-flex flex-row">
            <img
              class="card-img-left"
              src="{{ .image | relURL }}"
              alt="{{ .name }}"
              style="
                width: 150px;
                height: 150px;
                object-fit: cover;
                margin-right: 15px;
              "
            />
            <div class="card-body">
              <h5 class="card-title">{{ .name }}</h5>
              {{ if .title }}
              <h6 class="card-subtitle mb-2 text-muted">
                {{ if eq $lang "en" }} {{ .title.en }} {{ else }} {{ .title.si
                }} {{ end }}
              </h6>
              {{ end }} {{ if .bio }}
              <p class="card-text">
                {{ if eq $lang "en" }} {{ .bio.en }} {{ else }} {{ .bio.si }} {{
                end }}
              </p>
              {{ end }}
              <div class="card-footer text-end">
                {{ if .relurl }}
                <a href="{{ .relurl | relURL }}" class="btn btn-accent"
                  >View More</a
                >
                {{ end }}
              </div>
            </div>
          </div>
        </div>
        {{ end }}
      </div>

      <h2 class="mt-5 mb-3">
        {{ if eq $lang "en" }} Staff, Researchers {{ else }} Osebje,
        Raziskovalci {{ end }}
      </h2>
      <div class="row">
        {{ range .Site.Data.members.staff_members }}
        <div class="col-md-10 mb-4">
          <div class="card h-100 d-flex flex-row">
            <img
              class="card-img-left"
              src="{{ .image | relURL }}"
              alt="{{ .name }}"
              style="
                width: 150px;
                height: 150px;
                object-fit: cover;
                margin-right: 15px;
              "
            />
            <div class="card-body">
              <h5 class="card-title">{{ .name }}</h5>
              {{ if .title }}
              <h6 class="card-subtitle mb-2 text-muted">
                {{ if eq $lang "en" }} {{ .title.en }} {{ else }} {{ .title.si
                }} {{ end }}
              </h6>
              {{ end }} {{ if .bio }}
              <p class="card-text">
                {{ if eq $lang "en" }} {{ .bio.en }} {{ else }} {{ .bio.si }} {{
                end }}
              </p>
              {{ end }}
              <div class="card-footer text-end">
                {{ if .relurl }}
                <a href="{{ .relurl | relURL }}" class="btn btn-accent"
                  >View More</a
                >
                {{ end }}
              </div>
            </div>
          </div>
        </div>
        {{ end }}
      </div>

      <h2 class="mt-5 mb-3">
        {{ if eq $lang "en" }} Visiting Members {{ else }} Gostujoči člani {{
        end }}
      </h2>
      <div class="row">
        {{ range .Site.Data.members.visiting_members }}
        <div class="col-md-10 mb-4">
          <div class="card h-100 d-flex flex-row">
            <img
              class="card-img-left"
              src="{{ .image | relURL }}"
              alt="{{ .name }}"
              style="
                width: 150px;
                height: 150px;
                object-fit: cover;
                margin-right: 15px;
              "
            />
            <div class="card-body">
              <h5 class="card-title">{{ .name }}</h5>
              {{ if .title }}
              <h6 class="card-subtitle mb-2 text-muted">
                {{ if eq $lang "en" }} {{ .title.en }} {{ else }} {{ .title.si
                }} {{ end }}
              </h6>
              {{ end }} {{ if .bio }}
              <p class="card-text">
                {{ if eq $lang "en" }} {{ .bio.en }} {{ else }} {{ .bio.si }} {{
                end }}
              </p>
              {{ end }}
              <div class="card-footer text-end">
                {{ if .relurl }}
                <a href="{{ .relurl }}" class="btn btn-accent">View More</a>
                {{ end }}
              </div>
            </div>
          </div>
        </div>
        {{ end }}
      </div>
    </div>

    <div class="col-md-4">
      <div class="bg-light p-3 border rounded">
        <h2>{{ if eq $lang "en" }} In brief {{ else }} Na kratko {{ end }}</h2>

        <h4>{{ if eq $lang "en" }} Head {{ else }} Vodja {{ end }}</h4>
        {{ range .Site.Data.members.head_members }}
        <p>
          <a href="{{ .relurl | relURL }}">{{ .name }}</a><br />
          {{ if .phone }}Tel.: {{ .phone }}<br />{{ end }} {{ if .contact }}
          e-mail.: {{ .contact }}{{ end }}
        </p>
        {{ end }}

        <h4>{{ if eq $lang "en" }} Staff {{ else }} Osebje {{ end }}</h4>
        {{ range .Site.Data.members.staff_members }}
        <p>
          <a href="{{ .relurl | relURL }}">{{ .name }}</a><br />
          {{ if .phone }}Tel.: {{ .phone }}<br />{{ end }} {{ if .contact }}
          e-mail.: {{ .contact }}{{ end }}
        </p>
        {{ end }}

        <h4>
          {{ if eq $lang "en" }} Visiting Members {{ else }} Gostujoči člani{{
          end }}
        </h4>
        <p>
          {{ range .Site.Data.members.visiting_members }}{{ .name }}<br />{{ end
          }}
        </p>
      </div>
    </div>
  </div>
</div>
{{end}}
