<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" type="text/css" href="{{ "css/bootstrap.min.css" |
  relURL}}" /> <link rel="stylesheet" type="text/css" href="{{ "css/style.css" |
  relURL}}" /> {{ $title := print .Site.Title " | " .Title }} {{ if .IsHome }}{{
  $title = .Site.Title }}{{ end }}
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/flag-icon-css/css/flag-icon.min.css"
  />

  <title>{{ $title }}</title>
</head>
