<div id="masthead" class="container-fluid border-bottom">
  <div class="">
    <nav class="navbar navbar-expand-lg">
      <div class="d-flex align-items-center justify-content-center ms-2">
        <a
          href="{{ .Site.Params.rootURL }}{{ .Lang }}/"
          class="d-flex align-items-center text-decoration-none"
        >
          <img src="{{ "img/logos/MLLT-logo.png" | relURL }}" alt="Faculty Logo"
          class="img-fluid p-2" style="height: 5em; width: auto;">
          <p class="ms-2 mb-0 fs-4 fw-bold">{{.Site.Title}}</p>
        </a>
      </div>

      <button
        class="navbar-toggler mx-2 my-2"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav">
          {{ $currentPage := . }} {{ range .Site.Menus.main.ByWeight }} {{ if
          .HasChildren }}
          <li class="nav-item dropdown">
            <a
              class='nav-link dropdown-toggle {{ if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active {{ end }}'
              href="#"
              id="navbarDropdownMenuLink"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              {{ .Name }}
            </a>

            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              {{ range .Children }}
              <li>
                <a
                  class='dropdown-item {{ if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active {{ end }}'
                  href="{{ .URL }}"
                >
                  {{ .Name }}
                </a>
              </li>
              {{ end }}
            </ul>
          </li>
          {{ else }}
          <li class="nav-item">
            <a
              class='nav-link {{ if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active {{ end }}'
              href="{{ absURL .URL }}"
            >
              {{ .Name }}
            </a>
          </li>
          {{ end }} {{ end }}
        </ul>

        <ul class="navbar-nav ms-auto">
          {{ range $.Site.Home.AllTranslations }}
          <li class="nav-item">
            <a
              class="nav-link {{ if eq .Language.Lang $.Site.Language.Lang }}lang-active{{ end }}"
              href="{{ .RelPermalink }}"
            >
              <span class="flag-icon {{ .Language.Params.flag }}"></span> {{
              .Language.LanguageName }}
            </a>
          </li>
          {{ end }}
        </ul>
      </div>
      <div class="px-5 d-none d-lg-block">
        <img src="{{ "img/logos/fri_logo_trans.png" | relURL }}" alt="Faculty
        Logo" class="img-fluid p-2" style="max-height: 100px;">
      </div>
    </nav>
  </div>
</div>
