{{ define "main" }} {{ $lang := .Lang }}
<div>{{ .Content }}</div>
<div class="row justify-content-center" style="margin-bottom: 200px">
  {{/* Head Member */}}
  <h4 class="my-5 bold text-center text-md-start">
    {{ if eq $lang "en" }} Head {{ else }} Vodja {{ end }}
  </h4>
  <div class="d-grid gap-4 members-grid">
    {{ range .Site.Data.members.head_members }}
    <div class="d-flex justify-content-center text-center">
      <a href="{{ .relurl | relURL }}" class="text-decoration-none member-card">
        <div class="mb-2 p-4">
          {{ if and (isset . "image") (ne .image "") }}
          <img
            src="{{ .image |
                relURL }}"
            alt="{{ .name
                }}"
            class="rounded-members"
            style="
              width: 306px;
              height: 306px;
              aspect-ratio: 1 / 1;
              object-fit: cover;
            "
          />
          {{else}}
          <div
            class="rounded-members"
            style="
              width: 306px;
              background-color: #c1c5bf;
              aspect-ratio: 1 / 1;
              object-fit: cover;
            "
          ></div>
          {{end}}
        </div>
        <div class="mt-4 p-4">
          <p class="body-big bold mb-0">{{ .name }}</p>
          {{ if .title }}
          <p class="body-big regular mt-2 mb-0">
            {{ if eq $lang "en" }}{{ .title.en }}{{ else }}{{ .title.si }}{{ end
            }}
          </p>
          {{ end }}
        </div>
      </a>
    </div>
    {{ end }}
  </div>

  {{/* Members */}}
  <h4 class="my-5 bold text-center text-md-start">
    {{ if eq $lang "en" }} Staff & Researchers {{ else }} Osebje in raziskovalci
    {{ end }}
  </h4>
  <div class="d-grid gap-4 members-grid">
    {{ range .Site.Data.members.staff_members }}
    <div class="d-flex justify-content-center text-center">
      <a href="{{ .relurl | relURL }}" class="text-decoration-none member-card">
        <div class="mb-2 p-4">
          {{ if and (isset . "image") (ne .image "") }}
          <img
            src="{{ .image |
                relURL }}"
            alt="{{ .name
                }}"
            class="rounded-members"
            style="
              width: 306px;
              height: 306ox;
              aspect-ratio: 1 / 1;
              object-fit: cover;
            "
          />
          {{else}}
          <div
            class="rounded-members"
            style="
              width: 306px;
              background-color: #c1c5bf;
              aspect-ratio: 1 / 1;
              object-fit: cover;
            "
          ></div>
          {{end}}
        </div>
        <div class="mt-4 p-4">
          <p class="body-big bold mb-0">{{ .name }}</p>
          {{ if .title }}
          <p class="body-big regular mt-2 mb-0">
            {{ if eq $lang "en" }}{{ .title.en }}{{ else }}{{ .title.si }}{{ end
            }}
          </p>
          {{ end }}
        </div>
      </a>
    </div>
    {{ end }}
  </div>

  {{/* Former Members */}}
  <h4 class="my-5 bold text-center text-md-start">
    {{ if eq $lang "en" }} Former Members {{ else }} Bivši člani {{ end }}
  </h4>
  <div class="d-grid gap-4 members-grid">
    {{ range .Site.Data.members.former_members }}
    <div class="d-flex justify-content-center text-center">
      <a href="{{ .relurl | relURL }}" class="text-decoration-none member-card">
        <div class="mb-2 p-4">
          {{ if and (isset . "image") (ne .image "") }}
          <img
            src="{{ .image |
                relURL }}"
            alt="{{ .name
                }}"
            class="rounded-members"
            style="
              width: 306px;
              height: 306px;
              aspect-ratio: 1 / 1;
              object-fit: cover;
            "
          />
          {{else}}
          <div
            class="rounded-members"
            style="
              width: 306px;
              background-color: #c1c5bf;
              aspect-ratio: 1 / 1;
              object-fit: cover;
            "
          ></div>
          {{end}}
        </div>
        <div class="mt-4 p-4">
          <p class="body-big bold mb-0">{{ .name }}</p>
          {{ if .title }}
          <p class="body-big regular mt-2 mb-0">
            {{ if eq $lang "en" }}{{ .title.en }}{{ else }}{{ .title.si }}{{ end
            }}
          </p>
          {{ end }}
        </div>
      </a>
    </div>
    {{ end }}
  </div>
</div>
{{ end }}
