<div class="row my-5">
  {{ with .Get "card1" }}
  <div class="col-12 col-lg-4 mb-4 d-flex">
    <div
      class="card p-4 flex-fill d-flex flex-column justify-content-end benefits-card"
    >
      <img
        src="/img/icons/Ticket, Group, Circle.svg"
        alt="icon"
        style="width: 42px; height: 42px"
      />
      <div class="body-medium regular mt-4">{{ . | markdownify }}</div>
    </div>
  </div>
  {{ end }} {{ with .Get "card2" }}
  <div class="col-12 col-lg-4 mb-4 d-flex">
    <div
      class="card p-4 flex-fill d-flex flex-column justify-content-end benefits-card"
    >
      <img
        src="/img/icons/server databases data code.svg"
        alt="icon"
        style="width: 42px; height: 42px"
      />
      <div class="body-medium regular mt-4">{{ . | markdownify }}</div>
    </div>
  </div>
  {{ end }} {{ with .Get "card3" }}
  <div class="col-12 col-lg-4 mb-4 d-flex">
    <div
      class="card p-4 flex-fill d-flex flex-column justify-content-end benefits-card"
    >
      <img
        src="/img/icons/Target, Space, Object, Select.svg"
        alt="icon"
        style="width: 42px; height: 42px"
      />
      <div class="body-medium regular mt-4">{{ . | markdownify }}</div>
    </div>
  </div>
  {{ end }}
</div>
